<title>{% block title %}{% endblock %} - PwnMe</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>PwnMe Vulnerable</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('vuln.logout') }}">Log Out</a>
      <li><a href="{{ url_for('vuln.hidden') }}">Secret Message</a>
      <li><a href="{{ url_for('vuln.view_balance') }}">View Balance</a>
      <li><a href="{{ url_for('vuln.withdraw') }}">Withdraw Funds</a>
    {% else %}
      <li><a href="{{ url_for('vuln.register') }}">Register</a>
      <li><a href="{{ url_for('vuln.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
